#jqtest {
  background-color: black;
  color: white;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.5);
}

body {
  opacity: 0.9;
  background-image: url("../img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.form-bottom {
  position: absolute;
  bottom: 90px;
}

ul {
  list-style-type: none;
}

#toDo span.glyphicon:hover {
  color: green;
  cursor: pointer;
}

#toDo span.glyphicon {
  color: red;
  cursor: pointer;
}

#complete span.glyphicon:hover {
  color: red;
  cursor: pointer;
}

#complete span.glyphicon {
  color: green;
}
